# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL
4. Julia
5. Scala
6. R

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn
2. PyTorch
3. Pandas
4. TensorFlow

| Data Science Tools|
|-----------------------|
| Rstudio|
| VSCode|
|Jupyter Notebook|

###Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple artihemetic expression to multiply then add integers
print((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print(200/60,"hours")

3.3333333333333335 hours

**Objectives:**


*    List of popular languages that Data Scientists Use
*    List of Commonly Used Libraries
*    Simple Arithmetic Equations
*    List of Data Science Tools

##Author
Savian Elam